* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

.wrapper {
  background: linear-gradient(rgb(160, 160, 81), rgb(75, 130, 169));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator {
  background: rgba(251, 249, 249, 0.212);
  width: 400px;
  border-radius: 10px;
  gap: 1rem;
  padding: 2rem 1.5rem;

  display: grid;
  grid-template-areas:
    "display display display display"
    "ac c perc divide"
    " btn7 btn8 btn9 multiple"
    "btn4 btn5 btn6 minus"
    "btn1 btn2 btn3 plus"
    "btn0 btn0 btndot equal";

  z-index: 999;

  backdrop-filter: blur(5px);
}

.calculator > div {
  height: 50px;

  background: rgba(255, 255, 255, 0.374);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
}

.calculator div:hover {
  background: #d2cfcf;
}

.calculator div.display {
  grid-area: display;

  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.btn-ac {
  grid-area: ac;
}
.btn-c {
  grid-area: c;
}

.btn-perc {
  grid-area: perc;
}

.btn-divide {
  grid-area: divide;
}

.btn-7 {
  grid-area: btn7;
}

.btn-8 {
  grid-area: btn8;
}

.btn-9 {
  grid-area: btn9;
}

.btn-X {
  grid-area: multiple;
}

.btn-4 {
  grid-area: btn4;
}

.btn-5 {
  grid-area: btn5;
}

.btn-6 {
  grid-area: btn6;
}

.btn-minus {
  grid-area: minus;
}

.btn-1 {
  grid-area: btn1;
}

.btn-2 {
  grid-area: btn2;
}

.btn-3 {
  grid-area: btn3;
}

.btn-plus {
  grid-area: plus;
}

.btn-0 {
  grid-area: btn0;
}

.btn-dot {
  grid-area: btndot;
}

.btn-equal {
  grid-area: equal;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(to right, blue, purple);

  position: relative;
  top: -90px;
  left: -180px;
}

.prank {
  animation: shake 0.5s ease-in;
  background: red !important;
  color: white;
}

@keyframes shake {
  0% {
    transform: translateX(10px);
  }

  33% {
    transform: translateX(-10px);
  }

  66% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}
